<div id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul   class="navbar-nav sidebar sidebar__section sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center" routerLink="main-dashboard">
        <div class="sidebar-brand-icon">
          <img src="assets/logo.png" width="170px" height="45px" />
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />
<div class="overflowSHow">
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="main-dashboard" routerLinkActive="active-link">
          <i class="fas fa-chart-line"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Nav Item - Pages Collapse Menu -->

      <div  *ngFor="let item of dasboardLayout">
        <li class="nav-item" *appHasRole="item?.role">
          <a  class="nav-link collapsed" href="#" data-toggle="collapse" [attr.data-target]='item?.collapsedItemtarget'
            aria-expanded="true" [attr.aria-controls]='item?.collapsedItemId'>
            <i [class]="item?.icon"></i>
            <span>{{item?.title}}</span>
          </a>
          <div  *ngFor="let title of item.collapsedTitle" [id]='item?.collapsedItemId' class="collapse" aria-labelledby="headingTwo" >
            <div class="nav__item" [routerLink]="title?.urlLink" routerLinkActive="active-link">
              <a class="collapse-item nav__item_link">{{title.name}}</a>
            </div>
          </div>
        </li>
      </div>
    </div>
      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)="togglesidebar()"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar sticky-top navbar-expand navbar-light bg-white topbar mb-2 shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button (click)="togglesidebar()" id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <h4 class="text-gray-900" style="font-weight: bold; margin: 0px;">
            Welcome to Dental Portal
          </h4>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 large " style="font-weight: 500;">{{userName}}</span>
                <img class="img-profile rounded-circle" src="assets/img/undraw_profile.svg" />
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <!-- <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a> -->
                <a class="dropdown-item" (click)="resetPassword()">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Change Password
                </a>

                <a *ngIf="userRole == 'Admin'" class="dropdown-item" (click)="ViewPassword()">
                  <i class="fas fa-keyboard mr-2 text-gray-400"></i>
                  View Password
                </a>
                <!-- <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="removeToken()">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="dashboar__size">
          <router-outlet></router-outlet>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <!-- <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                      <span>Copyright &copy; Your Website 2023</span>
                  </div>
              </div>
          </footer> -->
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Logout" below if you are ready to end your current session.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancel
          </button>
          <a class="btn btn-primary"  (click)="removeToken()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>