.table th {
    position: sticky;
    top: 0;
    font-size: 0.9rem;
    font-weight: 500;
    height: 50px;
    padding: 7px;
    vertical-align: middle;
    z-index: 1;
  }
  
  .table tr td {
    vertical-align: middle;
    font-size: .8rem;
    height: 60px;
    padding: 8px;
  }
  
  .TextboxDiv ng-select {
  
    height: 30px;
    /* font-size: 12px; */
  }
  
  .ng-select.custom ::ng-deep .ng-select-container {
    min-height: 30px;
    height: 30px;
  
  }
  
  .TextboxDiv input {
  
    height: 30px;
    /* font-size: 12px; */
  }
  
  .spinner-border {
    margin-left: 50%;
  }
  
  table {
    width: 100%;
  }
  
  .input__field {
    width: 100%;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat__input {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .table__head {
    text-align: center;
  }
  
  .table_section {
    text-align: center;
  }
  
  .dropdown__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* .slot__dropdown{
      margin-right: 30px;
    
    } */
  .slot__dropdown::ng-deep.p-dropdown {
    width: 250px !important;
    height: 45px;
  
  }
  
  .btn_icon {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search_icon {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
  }
  
  
  .search__btn_icon {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .admin__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .filters {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .filters__doctor {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  
  ::ng-deep.p-dropdown .p-dropdown-label {
    font-weight: 500 !important;
  }
  
  ::ng-deep.p-dropdown .p-dropdown-label.p-placeholder {
    font-size: 15px;
  }
  
  .p-input-icon-left>.p-inputtext {
    padding-left: 2.5rem;
    height: 44px;
  }
  
  .mat-paginator {
    display: block;
    font-size: 15px;
  }
  
  .profile__img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid var(--primary-blue-color);
  }
  
  .circular--landscape {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--primary-blue-color);
  }
  
  .circular--landscape img {
    width: auto;
    height: 100%;
  }
  
  .row__table{
    display: flex;
      align-items: center;
      justify-content: center;
  }
  .bx{
    font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
  }