<div class="card mb-5">
    <div class="card-header d-flex justify-content-between align-items-center" style="padding: 6px 25px;">
        <h4>Operation Staff List</h4>
        <button class="btn btn_icon" (click)="handleAddEditUserOperation(0)">
            <i class='bx bx-plus-circle'></i>
            Add New</button>
    </div>
    <div style="min-height: 400px; max-height: 600px; overflow-y: scroll">
        <div class="card-body">

            <div>
                <div class="mat-elevation-z8 table">

                    <div>
                        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                        <app-skeleton *ngIf="isTableLoading"></app-skeleton>
                    </div>


                    <table *ngIf="!isTableLoading" mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="Name">
                            <th class="table__head" mat-header-cell *matHeaderCellDef>Full Name</th>
                            <td class="table_section" mat-cell *matCellDef="let row">
                                {{row?.Name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Email">
                            <th class="table__head" mat-header-cell *matHeaderCellDef>Email</th>
                            <td class="table_section" mat-cell *matCellDef="let row"> {{row?.Email}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Contact">
                            <th class="table__head" mat-header-cell *matHeaderCellDef>Contact</th>
                            <td class="table_section" mat-cell *matCellDef="let row"> {{row?.Contact}}</td>
                        </ng-container>

                        <ng-container matColumnDef="CreatedOn">
                            <th class="table__head" mat-header-cell *matHeaderCellDef>Created On</th>
                            <td class="table_section" mat-cell *matCellDef="let row"> {{row?.CreatedOn | date : 'medium'}}</td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="Actions">
                            <th class="table__head" mat-header-cell *matHeaderCellDef>Actions</th>
                            <td class="table_section" mat-cell *matCellDef="let row">
                                <div class="mat__input">

                                    <button class="btn edit_btn" pTooltip="Edit User" tooltipPosition="bottom"
                                        (click)="handleAddEditUserOperation(row)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </div>

                            </td>
                        </ng-container> -->

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<p-toast></p-toast>