.table th {
  position: sticky;
  top: 0;
  font-size: 0.9rem;
  font-weight: 500;
  height: 40px;
  padding: 7px;
  vertical-align: middle;
  z-index: 1;
}

.table tr td {
  vertical-align: middle;
  font-size: .8rem;
  height: 40px;
  padding: 8px;
}

.TextboxDiv ng-select {

  height: 30px;
  /* font-size: 12px; */
}

.ng-select.custom ::ng-deep .ng-select-container {
  min-height: 30px;
  height: 30px;

}

.TextboxDiv input {

  height: 30px;
  /* font-size: 12px; */
}



.spinner-border {
  margin-left: 50%;
}

table {
  width: 100%;
}
.input__field{
  width: 100%;
}
.mat-form-field {
  width: 100%;
}

.mat__input{
  display: flex;
  align-items: center;
  justify-content: center;
}
.table__head{
  text-align: center;
}
.table_section{
  text-align: center;
}
.btn_icon {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}