.calendar::ng-deep.p-calendar {
  position: relative;
  display: inline-flex;
  /* max-width: 100%; */
  width: 1400px;
  /* height: 650px; */
}

::ng-deep.p-datepicker-calendar tr {
  height: 92px;
  text-align: center;
}

::ng-deep.p-datepicker table td>span {
  width: 110px;
  height: 70px;
  border-radius: 0px;
  transition: box-shadow 0.2s;
  border: 1px solid transparent;
  /* background-color: orange; */

}

::ng-deep.p-datepicker table td>span:hover {
  background-color: white;
  /* background-color: orange; */

}

::ng-deep.p-datepicker table td.p-datepicker-today>span {
  position: static !important;
}

.dropdown__section {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  margin: 20px 0px;
}

.calendar__div {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;

}

.calendar__div h6 {
  font-size: 14px;
  font-weight: bold;

}

.appointment__list {
  background-color: #007fdf;
  border-radius: 4px;
  position: relative;
  padding: 5px 4px;
  color: white;
}

.appointment__list h6 {
  font-size: 13px;
  font-weight: 500;

}

.patient-list {
  width: 350px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
  overflow-y: scroll;
  height: 280px;
  position: relative;
}


.patient__info {
  border: 2px solid var(--secondary-blue-color);
  margin: 10px 0px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
}

.patient {
  font-weight: 700;
  font-size: 14px;
}

.patient_title {
  color: var(--primary-blue-color);
}

.patient__status {
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

.Done {
  color: #23a863;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  border: 3px solid #32de84;

}

.Pending {
  /* background: #fd5c63; */
  border: 3px solid #fd5c63;

  color: #ac181f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
}

.btn__margin {
  margin: 0px;
}

.btn__margin:hover {
  margin: 0px;
}

.cross_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0px;
}

::ng-deep.p-datepicker table td.p-datepicker-today>span {
  background: #e8f3ff !important;
}

::ng-deep.p-datepicker-calendar tr {
  height: 20px;
}

::ng-deep.p-datepicker {
  padding: 0px !important;

}

.booked__title {
  color: var(--primary-blue-color);
  font-weight: bold;
  font-size: 24px;
}

.search__dropdown::ng-deep.p-dropdown {
  width: 100% !important;
}

.p-input-icon-left {
  width: 100%;
}

.p-input-icon-right>.p-inputtext {
  padding-right: 2.5rem;
  width: 100%;
}

.patient__detail {
  margin: 10px 0px;
}

.btn_icon {
  /* width: 120px; */
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.patient__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 20rem;
}

.patient_input {
  width: 100%;
}

.patient__btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.patient__update {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
.bxs-edit-alt{
  margin-right: 10px;
}


.filters{
  display: flex;
  align-items: center;
  gap: 5px;
  /* justify-content: space-between; */
  width: 75%;
}

.admin__filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
::ng-deep.p-dropdown {
  width: 300px !important;
}

.tabOption{
display: flex;
justify-content: flex-end;
gap: 8px;
font-size: 20px;
margin-right: 20px;
/* border: 1px solid; */
}

.tableoption:hover{
cursor: pointer;
color: #007fdf;
}

.OnActiveTableoption{
  color: #007fdf;
}

.Calenderoption:hover{
  cursor: pointer;
  color: #007fdf;
}


.dateTab{
/* border: 1px solid; */
display: flex;
justify-content: center;
gap: 3px;
}

.tab{
  border: 1px solid rgb(96, 149, 228);
  border-radius: 5px;
  padding: 10px;
  color: #007fdf;
  background-color: #ecf7ff;
}

.tab:hover{
  cursor: pointer;
  color: white;
  background-color: #71c4ff;
}

div.active{
  color: white;
  background-color: #71c4ff;
}

.table{
  width: 100%;
  max-height: 450px;
  overflow: auto;  
}

.table tr td{
  text-align: center;
  font-size: 12px;

   }
   .table tr th{
      text-align: center;
      position: sticky;
      background-color: white;
      color: rgb(74, 74, 74);
      font-size: 12px;
      top: 0px;
   
    
       }
       .table thead{
          border-bottom: 1px solid black;
       }

       .totalRow{
          position: sticky;
          background-color: white;
          bottom: 0;
       }

       .EditClass i{
        font-size: 16px;
        cursor: pointer;
       }

       .EditClass i:hover{
        font-size: 16px;
        color: #007fdf;
       }