<div class="modal_section">
    <!-- <form > -->
        <div class="modal_inner_section">

            <div class="input_text_field">
                <ng-select [items]="rolesList" 
                bindLabel="Role" 
                bindValue="Id" 
                [clearable]="false"
                placeholder="Select Role"
                [(ngModel)]="ModelRoleId"
               >
            
     </ng-select>
            </div>

            <div class="input_text_field mt-2">
                
                <div class="p-input-icon-left p-input-icon-right">
                    <i class="bx bx-mail-send" style="color: #6c7689;"></i>
                    <input (change)="onChangeEmail($event)" placeholder="Enter email" type="text" pInputText  />
                    <i  [ngClass]="emailId ? 'fas fa-check'  : 'fas fa-asterisk'"></i>
                </div>
            </div>

            <div  class="input__btn">
                <button (click)="submit()" class="btn btn_icon">
                    <i class = 'bx bx-pencil'></i>
                    Submit 
                    <div *ngIf="showLoader" style="margin-bottom: 4px; margin-left: 5px" class="spinner-grow spinner-grow-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                </button>
            </div>

        </div>
        
    <!-- </form> -->

</div>
<p-toast></p-toast>
