<div class="modal_section">

    <form [formGroup]="serviceForm" (ngSubmit)="createServiceForm()">
        <div class="modal_inner_section">
            <div class="input_text_field">
                <div class="p-input-icon-left p-input-icon-right">
                    <i class="fas fa-user" style="color: #6c7689;"></i>
                    <input placeholder="Enter Service Name" type="text" pInputText formControlName="Name" />
                <i [ngClass]="serviceForm.get('Name')?.hasError('required') ? 'fas fa-asterisk' : 'fas fa-check'"></i>

                </div>
                <small *ngIf="serviceForm.get('Name')?.hasError('required')" id="username-help">Service Name is
                    Required</small>
            </div>

            <div class="input__btn">
                <button [disabled]="serviceForm.invalid" class="btn btn_icon">
                    <i [class]="isUserUpdateBtn ?  'bx bx-edit-alt': 'bx bx-pencil'"></i>
                    {{isUserUpdateBtn ? 'Update' : 'Create' }}
                </button>
            </div>

        </div>

    </form>

</div>