<div class="expension">
    <mat-accordion >
        <mat-expansion-panel>
    <mat-expansion-panel-header class="SetSIdeBorder">
    <mat-panel-title>
        <i class='fas fa-hospital-user'></i><span style="margin-left: 5px;">Vew Doctor list</span>
    </mat-panel-title>
    </mat-expansion-panel-header >
    <!-- Component For Docter Detail -->
    <app-doctor-detail></app-doctor-detail>
             <!-- End -->
    </mat-expansion-panel>
    </mat-accordion>
</div>

<!-- Code by Shuja -->
<div class="expension">
    <mat-accordion>
        <mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
      <i class='fas fa-book-medical'></i> <span style="margin-left: 5px;">View Doctor Service Fees</span>
    </mat-panel-title>
    </mat-expansion-panel-header>
    <app-doctor-service-fares></app-doctor-service-fares>
    </mat-expansion-panel>
    </mat-accordion>
</div>
<!-- Code by Shuja -->

<div class="expension">
    <mat-accordion >
        <mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
        <i class='fas fa-id-card-alt'></i> <span style="margin-left: 5px; border: 1px soild;">View Patient List</span>
    </mat-panel-title>
    <!-- <mat-panel-description>
    Currently I am 
    </mat-panel-description> -->
    </mat-expansion-panel-header>
    <app-patient-detail></app-patient-detail>
    </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="expension">
    <mat-accordion>
        <mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title> 
        <i class='fas fa-notes-medical'></i> <span style="margin-left: 5px;">View Appointments</span>

    </mat-panel-title>
    </mat-expansion-panel-header>
    <app-appointments-detail></app-appointments-detail>
    </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="expension">
<mat-accordion>
    <mat-expansion-panel>
<mat-expansion-panel-header>
<mat-panel-title>
  <i class='fas fa-book-medical'></i> <span style="margin-left: 5px;">View Financial Cost</span>
</mat-panel-title>
<!-- <mat-panel-description>
Currently I am 
</mat-panel-description> -->
</mat-expansion-panel-header>
<app-financial-cost></app-financial-cost>
</mat-expansion-panel>
</mat-accordion>
</div>

<div class="expension">
    <mat-accordion>
        <mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
      <i class='fas fa-book-medical'></i> <span style="margin-left: 5px;">View Hospital ledger</span>
    </mat-panel-title>
    <!-- <mat-panel-description>
    Currently I am 
    </mat-panel-description> -->
    </mat-expansion-panel-header>
    <app-hospital-ledger></app-hospital-ledger>
    </mat-expansion-panel>
    </mat-accordion>
    </div>