<div class="modal_section">

    <form [formGroup]="cityForm" (ngSubmit)="createCityForm()">
        <div class="modal_inner_section">
            <div class="input_text_field">
                <div class="p-input-icon-left p-input-icon-right">
                    <i class="fas fa-globe" style="color: #6c7689;"></i>
                    <input placeholder="Enter City Name" type="text" pInputText formControlName="name" />
                <i [ngClass]="cityForm.get('name')?.hasError('required') ? 'fas fa-asterisk' : 'fas fa-check'"></i>
                </div>
                <small *ngIf="cityForm.get('name')?.hasError('required')" id="username-help">City Name is
                    Required</small>
            </div>

            <div class="input__btn">
                <button [disabled]="cityForm.invalid" class="btn btn_icon">
                    <i [class]="isUserUpdateBtn ?  'bx bx-edit-alt': 'bx bx-pencil'"></i>
                    {{isUserUpdateBtn ? 'Update' : 'Create' }}
                </button>
            </div>

        </div>
        
    </form>

</div>
<p-toast></p-toast>