<p-table [value]="tableList!" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th><p-skeleton height="4rem" styleClass="mb-2"></p-skeleton></th>
            <th><p-skeleton height="4rem" styleClass="mb-2"></p-skeleton></th>
            <th><p-skeleton height="4rem" styleClass="mb-2"></p-skeleton></th>
            <th><p-skeleton height="4rem" styleClass="mb-2"></p-skeleton></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
        </tr>
    </ng-template>
</p-table>