.modal_inner_section{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.p-input-icon-left{
    width: 100%;
}
.p-input-icon-left input {
    width: 100%;
}

.input_text_field{
    width: 100%;

}
.input__btn{
    margin: 10px 0px;
}

.p-input-icon-left > .p-inputtext {
    padding-left: 2.5rem;
}

.p-input-icon-right > .p-inputtext {
    padding-right: 3.5rem;
}