<div class="modal_section">
    <form >
        <div class="modal_inner_section">
            <div class="input_text_field">
                
                <div class="p-input-icon-left p-input-icon-right">
                    <i  [ngClass]="passwordMatch ? 'fas fa-check'  : 'fas fa-asterisk'"></i>
                    <input #myInput [type]="isPassword ? 'password' : 'text'" (keyup)="checkCurrentPassword($event)" placeholder="Enter current password" type="text" pInputText  />
                    
              
                <i   (click)="handleView1()" [ngClass]="isPassword ? 'bx bxs-hide' : 'bx bxs-show'"></i>

                </div>
            </div>

            <div *ngIf="passwordMatch" class="input_text_field" style="margin-top: 10px;">
                
                <div class="p-input-icon-left p-input-icon-right">
                    <i [ngClass]="newPassword ? 'fas fa-check'  : 'fas fa-asterisk'"></i>
                    <input #myInput2 [type]="isPassword2 ? 'password' : 'text'" (change)="OnchangenewPassword($event)" placeholder="Enter new password" type="text" pInputText  />
                    <i   (click)="handleView2()" [ngClass]="isPassword2 ? 'bx bxs-hide' : 'bx bxs-show'"></i>


                </div>
            </div>

            <div *ngIf="passwordMatch"  class="input__btn">
                <button (click)="submit()" class="btn btn_icon">
                    <i class = 'bx bx-pencil'></i>
                    Reset 
                    <div *ngIf="showLoader" style="margin-bottom: 4px; margin-left: 5px" class="spinner-grow spinner-grow-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                </button>
            </div>

        </div>
        
    </form>

</div>
<p-toast></p-toast>
