<div>
    <div class="dashboard__inner__section">
        <div class="card">
            <div class="card__title">
                <h2 class="title">Summary</h2>
                <h2 class="title">...</h2>
            </div>

            <div class="card__stats">
                <h1>0</h1>
                <h3>Due Tasks</h3>
            </div>
            <div>
                <h3 class="title">Completed: 0</h3>
            </div>
        </div>

        <div class="card">
            <div class="card__title">
                <h2 class="title">Summary</h2>
                <h2 class="title">...</h2>
            </div>

            <div class="card__stats">
                <h1>0</h1>
                <h3>Due Tasks</h3>
            </div>
            <div>
                <h3 class="title">Completed: 0</h3>
            </div>
        </div>

        <div class="card">
            <div class="card__title">
                <h2 class="title">Summary</h2>
                <h2 class="title">...</h2>
            </div>

            <div class="card__stats">
                <h1>0</h1>
                <h3>Due Tasks</h3>
            </div>
            <div>
                <h3 class="title">Completed: 0</h3>
            </div>
        </div>

        <div class="card">
            <div class="card__title">
                <h2 class="title">Summary</h2>
                <h2 class="title">...</h2>
            </div>

            <div class="card__stats">
                <h1>0</h1>
                <h3>Due Tasks</h3>
            </div>
            <div>
                <h3 class="title">Completed: 0</h3>
            </div>
        </div>
    </div>

   <div class="chart__section">
    <div class="chart_pie " id="chart">
        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"
            [responsive]="chartOptions2.responsive"></apx-chart>
    </div>

    
    <div class="chart_radar " id="chart">
        <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart" [xaxis]="chartOptions3.xaxis"
            [title]="chartOptions3.title"></apx-chart>
    </div>
   </div>

<!-- 
    <div class="chart_area" id=" chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [dataLabels]="chartOptions.dataLabels" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
            [fill]="chartOptions.fill" [markers]="chartOptions.markers" [title]="chartOptions.title"
            [tooltip]="chartOptions.tooltip"></apx-chart>
    </div> -->




</div>